/* styles saved into vars */
:root {
--font-montserrat: 'Montserrat', sans-serif;
--font-garamond: 'Cormorant Garamond', serif;
--color-yellow: #E0B973;
--color-blue: #14274A;
--color-white: #FFFFFF;
--background-main: #f8f8f8;
--background-50: rgba(20, 39, 74, 0.5);
--background-30: rgba(20, 39, 74, 0.3);
--background-20: rgba(20, 39, 74, 0.2);
--shodow-3: 0px 3px 3px rgba(0, 0, 0, 0.25);
/* Thanks to James Gilyead & Trys Mudford for the following:*/
/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
--step--3: clamp(0.77rem, calc(0.76rem + 0.02vw), 0.76rem);
--step--2: clamp(0.96rem, calc(0.89rem + 0.10vw), 0.91rem);
--step--1: clamp(1.20rem, calc(1.05rem + 0.21vw), 1.09rem);
--step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
--step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
--step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
--step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
--step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
--step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
--step-6: clamp(3.92rem, calc(3.22rem + 3.52vw), 5.72rem);
--step-7: clamp(4.70rem, calc(3.75rem + 4.78vw), 7.15rem);
--step-8: clamp(5.64rem, calc(4.36rem + 6.43vw), 8.94rem);
/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,24,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
--space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
--space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
--space-xs: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
--space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
--space-m: clamp(2.00rem, calc(1.90rem + 0.49vw), 2.25rem);
--space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3.00rem);
--space-xl: clamp(3.94rem, calc(3.72rem + 1.10vw), 4.50rem);
--space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6.00rem);
--space-3xl: clamp(7.88rem, calc(7.44rem + 2.20vw), 9.00rem);
--space-4xl: clamp(10.50rem, calc(9.91rem + 2.93vw), 12.00rem);
--space-5xl: clamp(13.13rem, calc(12.39rem + 3.66vw), 15.00rem);
--space-6xl: clamp(15.75rem, calc(14.87rem + 4.39vw), 18.00rem);
--space-7xl: clamp(17.06rem, calc(16.11rem + 4.76vw), 19.50rem);
--space-8xl: clamp(21.00rem, calc(19.83rem + 5.85vw), 24.00rem);
--space-9xl: clamp(23.63rem, calc(22.31rem + 6.59vw), 27.00rem);
--space-10xl: clamp(26.25rem, calc(24.79rem + 7.32vw), 30.00rem);
--space-11xl: clamp(28.88rem, calc(27.27rem + 8.05vw), 33.00rem);
--space-12xl: clamp(31.50rem, calc(29.74rem + 8.78vw), 36.00rem);
--space-13xl: clamp(34.13rem, calc(32.22rem + 9.51vw), 39.00rem);
--space-14xl: clamp(36.75rem, calc(34.70rem + 10.24vw), 42.00rem);
--space-15xl: clamp(39.38rem, calc(37.18rem + 10.98vw), 45.00rem);
--space-16xl: clamp(42.00rem, calc(39.66rem + 11.71vw), 48.00rem);
--space-17xl: clamp(44.63rem, calc(42.14rem + 12.44vw), 51.00rem);
--space-18xl: clamp(47.25rem, calc(44.62rem + 13.17vw), 54.00rem);
--space-19xl: clamp(49.88rem, calc(47.09rem + 13.90vw), 57.00rem);
/* Thanks to James Gilyead & Trys Mudford for the above*/
}
/* default styles */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    min-height: 90vh;
    max-width: 100%;
    background-color: var(--background-main);
    font-family: var(--font-montserrat);
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
}
/* Top level header Styles*/
.header-home {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--background-50), var(--background-50)), url(../images/homepage/Homepage_main.png), no-repeat center;
    background-size: cover;
}
.header-facilities {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--background-50), var(--background-50)), url(../images/facilities/Facilities-main.png), no-repeat center;
    background-size: cover;
}
.header-rooms {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--background-50), var(--background-50)), url(../images/rooms/Rooms_main.png), no-repeat center;
    background-size: cover;
}
.header-contactus {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-blue);
}
.nav-menu {
    top: 0;
    width: 85%;
    height: 4.365em;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.nav-menu img {
    width: 9.5em;
    cursor: pointer;
}
.nav-menu ul {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.nav-manu-ul-li {
    list-style: none;
    display: flex;
    position: relative;
    margin: 0px 1.25em;
    height: 5vh;
}
.nav-manu-ul-li::after {
    content: '';
    height: .125em;
    width: 0;
    background: var(--color-white);
    position: absolute;
    left: 0;
    bottom: -0.25em;
    transition: 0.56s;
}
.nav-manu-ul-li:hover::after {
    content: '';
    height: .125em;
    width: 100%;
    background: var(--color-white);
    position: absolute;
    left: 0;
    bottom: -0.25em;
}
.nav-manu-ul-li a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
    font-size: var(--step--2);
    transition: 0.96s;
    align-self: flex-end;  
}
.nav-manu-ul-li a:hover {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--step--2);
}
.list-style {
    list-style: none;
    display: flex;
    position: relative;
    margin: 0 1.25em;
}
.list-style::after {
    content: '';
    height: .125em;
    width: 100%;
    background: var(--color-white);
    position: absolute;
    left: 0;
    bottom: -0.25em;
}
.a-text-style {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--step--2);
    transition: 0.96s;
    align-self: flex-end;
}
.section-header-copy {
    width: 85%;
    height: var(--space-7xl);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}
.section-header-copy p {
    margin: 0 0 -16px 0;
    color: var(--color-white);
    font-size: var(--step-1);
}
.section-header-copy-h1 {
    margin: 0 0 -16px 0;
    color: var(--color-white);
    font-family: var(--font-garamond);
    font-size: var(--step-7);
}

/* ↓↓↓ only for concact page ↓↓↓ */
.section-header-copy-contactus {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}
.section-header-copy-contactus h1 {
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-size: var(--step-3);
}
/* ↑↑↑ only for concact page ↑↑↑ */
.section-header-copy h2 {
    margin: 0;
    color: var(--color-white);
    font-family: var(--font-garamond);
    font-size: var(--step-1);
    letter-spacing: 0.75em;
}
.section-header-copy h3 {
    margin: 0;
    color: var(--color-white);
    font-weight: 400;
    font-size: var(--step--2);
}
.section-header-CTA {
    width: 100%;
    height: 15.948em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.section-header-CTA-button {
    width: 10em;
    height: 2.6em;
    background-color: var(--color-yellow);
    border-radius: 5px;
    color: var(--color-white);
    font-size: var(--step--2);
    font-weight: 700;
    text-shadow: var(--shodow-3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section-header-CTA-button img {
    margin-right: 0.625em;
    width: 1em;
    align-self: center;
    box-shadow: var(--shodow-3);
}
.CTA-scroll-text {
    color: var(--color-white);
    margin-top: 3em;
    margin-bottom: 0.625em;
    font-size: var(--step--2);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

/* Scroll img animation */
.CTA-scroll-animate {
    display: flex;
    flex-direction: column;
}
.CTA-scroll-imgstatic {
    width: 2.125em;
}
.CTA-scroll-animate img{
    width: 2.7em;
    transform: translateY(-42px);
    animation: animate 2.5s linear infinite;
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}
/* ↓↓↓ Mid level body styles ↓↓↓*/
/* home body styles*/

article {
   min-height: 100vh;
}
.article-section-breakfast {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}
.article-section-breakfast p {
    text-align: center;
    font-size: var(--step--1);
    margin-left: 30px;
    margin-right: 30px
}
.article-section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.article-section-main-room, .article-section-main-beach {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article-section-main-room-copy, .article-section-main-beach-copy {
    display: flex;
    align-items: center;
    height: 300px;
    text-align: left;
}
.article-section-main-room-copy-child, .article-section-main-beach-copy-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 25px;
    border-left: 1.5px solid var(--color-blue);
}
.article-section-main-room-copy-child h2, .article-section-main-beach-copy-child h2 {
    align-self: flex-start;
    font-family: var(--font-garamond);
    font-size: var(--step-2);
    font-weight: 700;
    margin-bottom: 20px;
}
.article-section-main-room-copy-child p, .article-section-main-beach-copy-child p {
    margin-top: var(--space-1xl);
    font-size: var(--step--1);
    line-height: 25px;
    margin-bottom: 20px;
}
.article-section-main-room-copy-child button, .article-section-main-beach-copy-child button {
    width: 140px;
    min-height: 35px;
    border-radius: 6px;
    border: 0 solid var(--color-yellow);
    background-color: var(--color-yellow);
    cursor: pointer;
    font-size: var(--step--2);
    font-weight: 700;
    color: var(--color-white);
}
.article-section-main-room-img, .article-section-main-beach-img {
    display: flex;
    margin: 20px;
}
.article-section-main-room-img-content {
    width: var(--space-11xl);
    height: var(--space-7xl);
    background: linear-gradient(var(--background-20), var(--background-20)), url(../images/homepage/Homepage_room.png), no-repeat center;
    background-size: cover;
}
.article-section-main-beach-img-content {
    width: var(--space-11xl);
    height: var(--space-7xl);
    background: linear-gradient(var(--background-20), var(--background-20)), url(../images/homepage/Homepage_beach.png), no-repeat center;
    background-size: cover;
}
/* facilities body styles */
.article-section-copy {
    text-align: left;
}

.article-section-copy h2 {
    padding-top: var(--space-m);
    min-height: 15vh;
    text-align: center;
    font-family: var(--font-garamond);
    font-size: var(--step-2);
}
.article-section-copy p {
    text-align: center;
    font-size: var(--step--1);
    line-height: var(--space-s);
    margin-bottom: 5vh;
    margin-left: 30px;
    margin-right: 30px;
}
.article-section-gallery {
    min-height: 100vh;
}
.article-section-gallery-div {
 display: flex;
 flex-direction: column; 
 align-items: center; 
 margin: 10px; 
}
.article-section-gallery-div img {
    width: var(--space-19xl);
    height: 100wh;
    margin-bottom: 10vh;
}

/* rooms body styles */
.article-section-room-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-section-room-card-styles {
    display: flex;
    flex-direction: column;
    width: 85vw;
    max-height: var(--space-19xl);
    border: 2px solid var(--color-blue);
    border-radius: 4px;
    margin-bottom: 10vh;
}
.article-section-room-card-styles-imgsingle {
    align-self: center;
    width: 100%;
    height: var(--space-12xl);
    background: linear-gradient(var(--background-20), var(--background-20)), url(../images/rooms/Rooms_single2.png), no-repeat center;
    background-size: cover;
}
.article-section-room-card-styles-imgdouble {
    width: 100%;
    height: var(--space-12xl);
    background: linear-gradient(var(--background-20), var(--background-20)), url(../images/rooms/Room_double.png), no-repeat center;
    background-size: cover;
}
.article-section-room-card-styles-imgtwin {
    width: 100%;
    height: var(--space-12xl);
    background: linear-gradient(var(--background-20), var(--background-20)), url(../images/rooms/Room_Twin2.png), no-repeat center;
    background-size: cover; 
}
.article-section-room-card-styles-type {
    background-color: var(--color-blue);
}
.article-section-room-card-styles-type p {
    min-height: 10vh;
    text-align: center;
    font-size: var(--step-0);
    font-weight: 700;
    color: var(--background-main);
    padding-top: 3vh;
}
.article-section-room-card-styles-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.article-section-room-card-styles-details div {
    display: flex;
    align-content: center;
    align-items: center;
    align-content: center;
    margin: 5vh;
}
.article-section-room-card-styles-details div img {
    width: 22px;
    margin-right: var(--space-xs);
    cursor: pointer;
}
.article-section-room-card-styles-details div details summary{
    list-style-image: url(../images/rooms/details_img.png);
    list-style-position: inside;
    text-align: center;
    font-weight: 700;
    cursor: pointer;   
}
.article-section-room-card-styles-details-button {
    width: var(--space-3xl);
    height: var(--space-m);
    border-radius: 6px;
    border: 0 solid var(--color-yellow);
    background-color: var(--color-yellow);
    cursor: pointer;
    font-size: var(--step--2);
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1vh;
}
/* contact-us body styles */
.section-body-contactus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 110px;
    text-align: left;
}
.section-body-contactus-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.section-body-contactus-box-direction, .section-body-contactus-box-celmail {
    font-size: var(--step--1);
}
.section-body-contactus-box-map {
    font-size: var(--step--1);
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-body-contactus-box-map:hover {
    font-size: var(--step-0);
}
.section-body-contactus-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.section-body-contactus-form label {
    font-size: var(--step--3);
    font-weight: 700;
}
.section-body-contactus-form-name, .section-body-contactus-form-mail {
    height: 30px;
    margin-bottom: var(--space-2xs);
    border: 0.5px solid var(--color-blue);
}
.section-body-contactus-form-message {
    margin-bottom: var(--space-2xs);
    border: 0.5px solid var(--color-blue);
}
.section-body-contactus-form button {
    margin-top: 20px;
    align-self: flex-end;
    width: var(--space-2xl);
    height: var(--space-m);
    border-radius: 6px;
    border: 0 solid var(--color-yellow);
    background-color: var(--color-yellow);
    cursor: pointer;
    font-size: var(--step--3);
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1vh;
}
/* ↑↑↑ Mid level body styles ↑↑↑*/

/* Bottom level footer styles */
.triangule-footer {
    margin-bottom: 0;
    height: var(--space-l);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    width: 100vw;
    min-height: 30vh;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-contact, .footer-about, .footer-socials, .footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 15px 40px;
}
.footer-contact h2 {
    font-family: var(--font-garamond);
    font-size: 22px;
    color: var(--color-white);
}
.footer-contact h3 {
    font-family: var(--font-garamond);
    font-size: 6px;
    letter-spacing: 5px;
    color: var(--color-white);
    margin-left: 16px;
    margin-bottom: 10px;
}
.footer-contact p {
    font-size: 11px;
    color: var(--color-white);
}
.footer-about ul li, .footer-socials ul li {
    font-size: 12px;
    list-style: none;
    color: var(--color-white);
    margin-top: 15px;
    cursor: pointer;
}
.socials-facebook {
    width: 8px;
    margin-right: 15px;
}
.socials-twitter {
    width: 12px;
    margin-right: 15px;
}
.socials-instagram {
    width: 12px;
    margin-right: 15px;
}
.footer-form p {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 15px;
}
.footer-form-container {
    display: flex;
    border-radius: 4px;
}
.footer-form-container input {
    height: 30px;
    border:1.5px solid var(--color-yellow);
    border-radius: 1.5px;
    font-size: 12px;
    font-weight: bold;
}
.footer-form-mail {
    width: 180px;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding-left: 15px;
}
.footer-form-ok {
    width: 45px;
    background-color: var(--color-yellow);
    cursor: pointer;
    color: var(--color-blue);
}